.chat {
  flex: 3;
  .chatInfo {
    height: 50px;
    background-color: $purpose-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: $text-white;
    font-size: 24px;
  }
  .chatIcons {
    display: flex;
    gap: 10px;
    img {
      height: 24px;
      cursor: pointer;
    }
  }
}
